<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/phonebook.css"/>
    <title>Phone book</title>
</head>

<body>

<div id="app" v-cloak class="content">
    <div class="modal fade" tabindex="-1" id="warning" ref="warningWindow" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-start">
                    <h6 v-for="warning in warningsList">{{warning}}</h6>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            data-bs-dismiss="modal"
                            class="btn btn-outline-secondary btn-sm"
                            @click="closeAndUpdate">Закрыть и обновить список контактов
                    </button>
                    <button type="button"
                            data-bs-dismiss="modal"
                            class="btn btn-outline-secondary btn-sm"
                            @click="clearWarningsList">Закрыть
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="modal" ref="modalWindow" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 v-if="contactsForRemove.length === 1" class="modal-title">Удалить контакт?</h5>
                    <h5 v-else class="modal-title">Удаление</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body text-start">
                    <div v-if="contactsForRemove.length === 1">{{contactToString(contactsForRemove[0])}}</div>
                    <div v-else><b>Удалить отмеченные записи?</b></div>
                </div>
                <div class="modal-footer">
                    <button @click="remove()" type="button" data-bs-dismiss="modal" class="btn btn-outline-danger">Да
                    </button>
                    <button type="button" data-bs-dismiss="modal" class="btn btn-outline-secondary">Нет</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="contactDetailedWindow" ref="contactDetailedWindow"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        {{`${detailedContact.firstName} ${detailedContact.lastName} ${detailedContact.phone}`}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered calls-table"
                           v-if="detailedContact.calls?.length >0">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>Входящий/Исходящий</th>
                            <th>Начало</th>
                            <th>Завершение</th>
                            <th>Продолжительность</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(call, index) in detailedContact.calls">
                            <td>{{index + 1}}</td>
                            <td>{{call.direction === 'INCOMING' ? 'Входящий' : 'Исходящий'}}</td>
                            <td>{{new Date(call.start).toLocaleString()}}</td>
                            <td>{{new Date(call.end).toLocaleString()}}</td>
                            <td>{{convertTimeFromSeconds(call.durationInSeconds)}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div v-else>Звонков нет</div>
                </div>
            </div>
        </div>
    </div>

    <div class="filter-container">
        <label class="mr-1">
            Введите текст:
            <input type="text" v-model="filterValue" class="form-control input-sm"/>
        </label>
        <button class="btn btn-primary" @click="filter()">Отфильтровать</button>
        <button class="btn btn-primary" @click="resetFilter()">Сбросить фильтр</button>
    </div>
    <table class="table table-bordered contact-table table-hover">
        <thead>
        <tr>
            <th>
                <label class="select-all-label">
                    <input type="checkbox"
                           title="Выбрать"
                           v-model="isAllChecked"
                           class="form-check-input"
                           @change="checkAllCheckboxes"/>
                </label>
            </th>
            <th>№</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="row in rows"
            style="cursor: pointer;"
            @click="showContactDetailed(row)">
            <template v-if="row.shown">
                <td @click.prevent.stop>
                    <label class="select-me-label">
                        <input @click.stop
                               type="checkbox"
                               class="select-me"
                               v-model="row.checked"/>
                    </label>
                </td>
                <td v-text="row.number"></td>
                <td v-text="row.lastName"></td>
                <td v-text="row.firstName"></td>
                <td v-text="row.phone"></td>
                <td>
                    <button type="button"
                            class="btn btn-primary"
                            @click.stop="showRemovingDialog(row)">Удалить
                    </button>
                </td>
            </template>
        </tr>
        </tbody>
    </table>

    <button type="button"
            class="btn btn-primary"
            @click="showRemovingDialog()">Удалить выбранные
    </button>

    <button type="button"
            class="btn btn-primary"
            @click="downloadAllContactsXlsx()">Скачать всю телефонную книгу
    </button>

    <form class="form">
        <div>
            <label class="form-label">
                <span class="form-field">Фамилия:</span>
                <input type="text" class="form-control input-sm form-input ml-1"
                       v-model="lastName"
                       v-bind:class="{ 'input-error': lastNameError.error && validation }"/>
                <span v-show="validation" class="error-message" v-text="lastNameError.message"></span>
            </label>
        </div>
        <div>
            <label class="form-label">
                <span class="form-field">Имя:</span>
                <input type="text" class="form-control input-sm form-input ml-1"
                       v-model="firstName"
                       v-bind:class="{ 'input-error': firstNameError.error && validation }"/>
                <span v-show="validation" class="error-message" v-text="firstNameError.message"></span>
            </label>
        </div>
        <div>
            <label class="form-label">
                <span class="form-field">Телефон:</span>
                <input type="text" class="form-control input-sm form-input ml-1"
                       v-model="phone"
                       placeholder="7-777-777-7777"
                       pattern="\d{1}-\d{3}-\d{3}-\d{4}"
                       v-mask="'#-###-###-####'"
                       v-bind:class="{ 'input-error': phoneError.error && validation }"/>
                <span v-show="validation" class="error-message" v-text="phoneError.message"></span>
            </label>
        </div>
        <button type="button" class="btn btn-primary" @click="addContact">Добавить</button>
    </form>
</div>

<script src="js/libs/jquery.js"></script>
<script src="js/libs/bootstrap.bundle.js"></script>
<script src="js/libs/vue.js"></script>
<script src="js/libs/v-mask-min.js"></script>
<script src="js/phonebook.js"></script>
</body>
</html>